@model Remont_Kursovoi.Типы_ремонта

@{
    ViewBag.Title = "Delete";
}



<h3>Вы уверены, что хотите удалить данную запись?</h3>
<div>
    <h4>Типы ремонта</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Наименование)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Наименование)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Периодичность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Периодичность)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Длительность)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Длительность)
        </dd>

        <dt>
          Наименование типа
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Типы_оборудования.Наименование_типа)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-default" /> |
       <a class="btn btn-default" @Html.ActionLink("Назад", "Index")
        </div>
    }
</div>
